USE [SchoolMethodicalSystem]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30.11.2025 20:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 30.11.2025 20:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Topic] [nvarchar](500) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[ResponsibleId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Report] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Events_Extended]    Script Date: 30.11.2025 20:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- Представления (Views) для упрощения запросов
-- ============================================================

-- Мероприятия с информацией об ответственном
CREATE VIEW [dbo].[vw_Events_Extended] AS
SELECT 
    e.Id,
    e.Date,
    e.Topic,
    e.Type,
    e.ResponsibleId,
    u.Name AS ResponsibleName,
    e.Status,
    e.Report,
    e.CreatedAt,
    e.UpdatedAt
FROM Events e
INNER JOIN Users u ON e.ResponsibleId = u.Id;

GO
/****** Object:  Table [dbo].[Plans]    Script Date: 30.11.2025 20:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[ResponsibleId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Plans_Extended]    Script Date: 30.11.2025 20:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Планы с информацией об ответственном
CREATE VIEW [dbo].[vw_Plans_Extended] AS
SELECT 
    p.Id,
    p.Name,
    p.ResponsibleId,
    u.Name AS ResponsibleName,
    p.StartDate,
    p.EndDate,
    CONCAT(
        FORMAT(p.StartDate, 'dd.MM.yyyy'), 
        ' - ', 
        FORMAT(p.EndDate, 'dd.MM.yyyy')
    ) AS Period,
    p.Status,
    p.Description,
    p.CreatedAt,
    p.UpdatedAt
FROM Plans p
INNER JOIN Users u ON p.ResponsibleId = u.Id;

GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 30.11.2025 20:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[Event] [nvarchar](500) NOT NULL,
	[Date] [date] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Assignments_Extended]    Script Date: 30.11.2025 20:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Назначения с информацией об учителе
CREATE VIEW [dbo].[vw_Assignments_Extended] AS
SELECT 
    a.Id,
    a.TeacherId,
    u.Name AS TeacherName,
    a.Event,
    a.Date,
    a.Status,
    a.Description,
    a.CreatedAt,
    a.UpdatedAt
FROM Assignments a
INNER JOIN Users u ON a.TeacherId = u.Id;

GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 30.11.2025 20:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](500) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assignments] ON 

INSERT [dbo].[Assignments] ([Id], [TeacherId], [Event], [Date], [Status], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'Открытый урок по алгебре', CAST(N'2025-11-15' AS Date), N'assigned', N'Провести открытый урок для коллег', CAST(N'2025-11-29T13:53:39.1466667' AS DateTime2), NULL)
INSERT [dbo].[Assignments] ([Id], [TeacherId], [Event], [Date], [Status], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, 4, N'Семинар по ФГОС', CAST(N'2025-11-10' AS Date), N'completed', N'Участие в семинаре завершено', CAST(N'2025-11-29T13:53:39.1466667' AS DateTime2), NULL)
INSERT [dbo].[Assignments] ([Id], [TeacherId], [Event], [Date], [Status], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, 1, N'Мастер-класс: Проектная деятельность', CAST(N'2025-11-20' AS Date), N'assigned', N'Подготовить и провести мастер-класс', CAST(N'2025-11-29T13:53:39.1466667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Assignments] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([Id], [Date], [Topic], [Type], [ResponsibleId], [Status], [Report], [CreatedAt], [UpdatedAt]) VALUES (1, CAST(N'2025-11-10' AS Date), N'Семинар по новым методам обучения', N'Семинар', 1, N'in-progress', NULL, CAST(N'2025-11-29T13:53:39.1400000' AS DateTime2), NULL)
INSERT [dbo].[Events] ([Id], [Date], [Topic], [Type], [ResponsibleId], [Status], [Report], [CreatedAt], [UpdatedAt]) VALUES (2, CAST(N'2025-11-05' AS Date), N'Открытый урок по математике', N'Открытый урок', 1, N'completed', N'Урок проведён успешно, присутствовало 5 коллег', CAST(N'2025-11-29T13:53:39.1400000' AS DateTime2), NULL)
INSERT [dbo].[Events] ([Id], [Date], [Topic], [Type], [ResponsibleId], [Status], [Report], [CreatedAt], [UpdatedAt]) VALUES (3, CAST(N'2025-11-15' AS Date), N'Педсовет: Итоги 1-й четверти', N'Педсовет', 2, N'in-progress', NULL, CAST(N'2025-11-29T13:53:39.1400000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Plans] ON 

INSERT [dbo].[Plans] ([Id], [Name], [ResponsibleId], [StartDate], [EndDate], [Status], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'План методической работы на 1-ю четверть', 2, CAST(N'2025-09-01' AS Date), CAST(N'2025-10-31' AS Date), N'active', N'Основной план работы на первую четверть', CAST(N'2025-11-29T13:53:39.1433333' AS DateTime2), NULL)
INSERT [dbo].[Plans] ([Id], [Name], [ResponsibleId], [StartDate], [EndDate], [Status], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'План работы МО математиков', 1, CAST(N'2025-09-01' AS Date), CAST(N'2026-05-31' AS Date), N'active', N'Годовой план методического объединения', CAST(N'2025-11-29T13:53:39.1433333' AS DateTime2), NULL)
INSERT [dbo].[Plans] ([Id], [Name], [ResponsibleId], [StartDate], [EndDate], [Status], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'План повышения квалификации', 4, CAST(N'2025-11-01' AS Date), CAST(N'2025-12-31' AS Date), N'draft', N'План курсов и семинаров для учителей', CAST(N'2025-11-29T13:53:39.1433333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Plans] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Login], [PasswordHash], [Role], [Status], [Email], [CreatedAt], [UpdatedAt]) VALUES (1, N'Иванова Анна Петровна', N'teacher', N'$2a$12$wgrEesu/Y6OIGnrUzQODx.2ddKY2OmQ4W/7enjyv6vDcEzK0hYmqW', N'teacher', N'active', N'ivanova@school.com', CAST(N'2025-11-29T13:53:39.1366667' AS DateTime2), CAST(N'2025-11-30T19:09:24.3200000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Name], [Login], [PasswordHash], [Role], [Status], [Email], [CreatedAt], [UpdatedAt]) VALUES (2, N'Петров Владимир Иванович', N'manager', N'$2a$12$wgrEesu/Y6OIGnrUzQODx.2ddKY2OmQ4W/7enjyv6vDcEzK0hYmqW', N'manager', N'active', N'petrov@school.com', CAST(N'2025-11-29T13:53:39.1366667' AS DateTime2), CAST(N'2025-11-30T19:09:23.5833333' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Name], [Login], [PasswordHash], [Role], [Status], [Email], [CreatedAt], [UpdatedAt]) VALUES (3, N'Администратор', N'admin', N'$2a$12$wgrEesu/Y6OIGnrUzQODx.2ddKY2OmQ4W/7enjyv6vDcEzK0hYmqW', N'admin', N'active', N'admin@school.com', CAST(N'2025-11-29T13:53:39.1366667' AS DateTime2), CAST(N'2025-11-30T18:02:58.9066667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RefreshT__1EB4F8178074913A]    Script Date: 30.11.2025 20:06:52 ******/
ALTER TABLE [dbo].[RefreshTokens] ADD UNIQUE NONCLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B1B70326D]    Script Date: 30.11.2025 20:06:52 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ('assigned') FOR [Status]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT ('in-progress') FOR [Status]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT ('draft') FOR [Status]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('active') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_TeacherId]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_ResponsibleId] FOREIGN KEY([ResponsibleId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_ResponsibleId]
GO
ALTER TABLE [dbo].[Plans]  WITH CHECK ADD  CONSTRAINT [FK_Plans_ResponsibleId] FOREIGN KEY([ResponsibleId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Plans] CHECK CONSTRAINT [FK_Plans_ResponsibleId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_UserId]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD CHECK  (([Status]='cancelled' OR [Status]='completed' OR [Status]='assigned'))
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD CHECK  (([Status]='cancelled' OR [Status]='in-progress' OR [Status]='completed'))
GO
ALTER TABLE [dbo].[Plans]  WITH CHECK ADD CHECK  (([Status]='draft' OR [Status]='completed' OR [Status]='active'))
GO
ALTER TABLE [dbo].[Plans]  WITH CHECK ADD  CONSTRAINT [CK_Plans_DateRange] CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[Plans] CHECK CONSTRAINT [CK_Plans_DateRange]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='admin' OR [Role]='manager' OR [Role]='teacher'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Status]='inactive' OR [Status]='active'))
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPeriodReport]    Script Date: 30.11.2025 20:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Получить статистику по периоду
CREATE PROCEDURE [dbo].[sp_GetPeriodReport]
    @StartDate DATE,
    @EndDate DATE,
    @TeacherId INT = NULL,
    @EventType NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Мероприятия за период
    SELECT *
    FROM vw_Events_Extended
    WHERE Date BETWEEN @StartDate AND @EndDate
        AND (@TeacherId IS NULL OR ResponsibleId = @TeacherId)
        AND (@EventType IS NULL OR Type = @EventType)
    ORDER BY Date DESC;
    
    -- Статистика по типам
    SELECT 
        Type,
        COUNT(*) AS Total,
        SUM(CASE WHEN Status = 'completed' THEN 1 ELSE 0 END) AS Completed,
        SUM(CASE WHEN Status = 'in-progress' THEN 1 ELSE 0 END) AS InProgress
    FROM Events
    WHERE Date BETWEEN @StartDate AND @EndDate
        AND (@TeacherId IS NULL OR ResponsibleId = @TeacherId)
        AND (@EventType IS NULL OR Type = @EventType)
    GROUP BY Type;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetStatistics]    Script Date: 30.11.2025 20:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- Хранимые процедуры для статистики
-- ============================================================

-- Получить общую статистику
CREATE PROCEDURE [dbo].[sp_GetStatistics]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        (SELECT COUNT(*) FROM Events) AS TotalEvents,
        (SELECT COUNT(*) FROM Events WHERE Status = 'completed') AS CompletedEvents,
        (SELECT COUNT(*) FROM Events WHERE Status = 'in-progress') AS InProgressEvents,
        (SELECT COUNT(*) FROM Users WHERE Role = 'teacher') AS TotalTeachers,
        (SELECT COUNT(*) FROM Users WHERE Role = 'teacher' AND Status = 'active') AS ActiveTeachers,
        (SELECT COUNT(*) FROM Plans) AS TotalPlans,
        (SELECT COUNT(*) FROM Plans WHERE Status = 'active') AS ActivePlans,
        (SELECT COUNT(*) FROM Plans WHERE Status = 'completed') AS CompletedPlans;
END;

GO
/****** Object:  Trigger [dbo].[TR_Assignments_UpdatedAt]    Script Date: 30.11.2025 20:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Assignments
CREATE TRIGGER [dbo].[TR_Assignments_UpdatedAt]
ON [dbo].[Assignments]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Assignments
    SET UpdatedAt = GETDATE()
    FROM Assignments a
    INNER JOIN inserted i ON a.Id = i.Id;
END;

GO
ALTER TABLE [dbo].[Assignments] ENABLE TRIGGER [TR_Assignments_UpdatedAt]
GO
/****** Object:  Trigger [dbo].[TR_Events_UpdatedAt]    Script Date: 30.11.2025 20:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Events
CREATE TRIGGER [dbo].[TR_Events_UpdatedAt]
ON [dbo].[Events]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Events
    SET UpdatedAt = GETDATE()
    FROM Events e
    INNER JOIN inserted i ON e.Id = i.Id;
END;

GO
ALTER TABLE [dbo].[Events] ENABLE TRIGGER [TR_Events_UpdatedAt]
GO
/****** Object:  Trigger [dbo].[TR_Plans_UpdatedAt]    Script Date: 30.11.2025 20:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Plans
CREATE TRIGGER [dbo].[TR_Plans_UpdatedAt]
ON [dbo].[Plans]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Plans
    SET UpdatedAt = GETDATE()
    FROM Plans p
    INNER JOIN inserted i ON p.Id = i.Id;
END;

GO
ALTER TABLE [dbo].[Plans] ENABLE TRIGGER [TR_Plans_UpdatedAt]
GO
/****** Object:  Trigger [dbo].[TR_Users_UpdatedAt]    Script Date: 30.11.2025 20:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- Триггеры для автоматического обновления UpdatedAt
-- ============================================================

-- Users
CREATE TRIGGER [dbo].[TR_Users_UpdatedAt]
ON [dbo].[Users]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Users
    SET UpdatedAt = GETDATE()
    FROM Users u
    INNER JOIN inserted i ON u.Id = i.Id;
END;

GO
ALTER TABLE [dbo].[Users] ENABLE TRIGGER [TR_Users_UpdatedAt]
GO
